.cell {
    width: 100px;
    margin: 10px;
    color: #e3f2fd;
    text-align: center;
}

.cell-row {
    display: flex;
    flex-flow: row;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #eceff1;
}

.records-view {
    display: flex;
    flex-flow: column;
    height: 500px;
    overflow-y: scroll;
}

/* * {
    scrollbar-width: thin;
    scrollbar-color: #78909c #eceff1;
} */
/* Works on Chrome/Edge/Safari */
.records-view::-webkit-scrollbar {
    width: 10px;
}
.records-view::-webkit-scrollbar-track {
    background: #eceff1;
    border-radius: 20px;
}
.records-view::-webkit-scrollbar-thumb {
    background-color: #78909c;
    border-radius: 20px;
    border: 1px solid #eceff1;
}